<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class=>"form-horizontal" }) do |f| %>
    <legend>Change your password</legend>
    <%= f.hidden_field :reset_password_token %>
    <div class="control-group">
      <%= f.label :password, :class=>"control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, :class=>"control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Change my password", :class=>"btn btn-primary" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>