<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class=>"form-horizontal"}) do |f| %>
  <legend>Forgot your password?</legend>

  <div class="control-group">
    <%= f.label :email, :class=>"control-label" %>
    <div class="controls">
        <%= f.email_field :email %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Send me reset password instructions", :class=>"btn btn-primary" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>