<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_url %>">BestBay</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'Auction', new_item_path %></li>
          <li><%= link_to 'All items', items_path %></li>
        </ul>
        <ul class="nav pull-right">
          <%if user_signed_in?%>
            <li><%= link_to "Tracker", tracker_path %></li>
            <li><%= link_to "My wishlists", wishlists_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="dropdown" id="login_menu">
              <a href="#" class="dropdown-toggle pull" data-toggle="dropdown">Sign in<b class="caret"></b></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <%= render "devise/shared/sign_in_dropdown" %>
              </div>
            </li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
