<div class="row-fluid">
  <div class="span9 product_area">
    <%= form_for @item, :html => { :class => "form-horizontal" } do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
            <ul>
                <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                 <% end %>
            </ul>
        </div>
  <% end %>
    <div class="control-group">
        <label class="control-label" for="item_name">Name: </label> <%= f.text_field :name, placeholder: "Enter the Item Name"%>
    </div>
    <div class="control-group">
        <label class="control-label" for="item_name">Description: </label> <%= f.text_area :description, placeholder: "Enter a Brief Description",id:"description", rows:"5" %>
    </div>
      <div class="control-group">
        <label class="control-label" for="item_name">Opening Bid: </label> <%= f.text_field :opening_bid, placeholder: "Enter Opening Bid" %>
    </div>
        <div class="control-group" style="padding-left: 80px">
          <%= f.label :picture, "Upload Item Image:" %>
          <input type="text" name="upload_picture" />
          <%= f.filepicker_field :picture %> <!-- User#avatar_url is a regular string column -->
        </div>
    <div class="control-group" style="padding-left: 185px;">
    <%= f.submit %>
    </div>
  </div>
<% end %>
</div>
</div>

