<h1>Listing items</h1>

<table id='items'>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<tbody id='itemsbody'>
<% @items.each do |item| %>
  <tr>
    <td><%= item.name  %></td>
    <td><img src='<%= item.picture %>'></td>
    <td><%= item.description %></td>
    <td><%= item.opening_bid %></td>
    <td><%= item.highest_bid %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
