<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well">
        <ul class="nav nav-list">
          <li><%=image_tag('thumb.jpeg', :alt => @item.name) %></li>
          <li>Name: Harshad Mande</li>
          <li>Addr: Pitt, PA</li>
          <li>Tel.: 412-378-5298</li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <%= render 'shared/search_box' %>
      <div class="well">
        <div class="row-fluid">
          <div class="span3"><%= filepicker_image_tag( @item.picture, {w: 160, h: 160, fit: 'clip'}, true) %></div>
          <div class="span6">
            Name: <%= @item.name %>
            <br>
            Description: <%= @item.description %>
            <br>
            Opening bid: <%= @item.opening_bid %>
            <br>
            Highest bid: <%= @item.highest_bid %>
            <br>
          </div>
        </div>
        <div>
          <%= render "items/form_bid" %>
        </div>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->